In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Oldenburg.csv", header=None, sep=' ', usecols=[1,2,3], names=['st', 'end', 'len'])

In [3]:
df.head()

     st   end        len
0  1609  1622  57.403187
1  2471  2479  29.718756
2  2463  2471  61.706902
3  2443  2448  19.080025
4  1417  1491  28.248583

In [4]:
#Â Transform LENGTH to Km/h (we supose 50 Km/h is the maximum speed)
df['len'] = df['len'] / 50000

In [5]:
df.head()

     st   end       len
0  1609  1622  0.001148
1  2471  2479  0.000594
2  2463  2471  0.001234
3  2443  2448  0.000382
4  1417  1491  0.000565

In [6]:
# Save dataframe
df.to_csv('Oldenburg.graph', sep=' ', index=False, header=False)

In [53]:
TASKS = 20
TEAMS = 5
SHIFTS = 2
DAYS = 3

In [54]:
NODES = max(df['st'])

In [55]:
locs = np.random.randint(1, high=NODES, size=TASKS + 1)

In [56]:
tasks_times = np.tile(np.random.rand(TASKS) * 2, (TEAMS, 1))
tasks_times[0, :] /= 1.3
tasks_times[1, :] /= 1.25
tasks_times[2, :] /= 1.1

In [57]:
spec = np.random.randint(0, high=TASKS, size= (TEAMS, TEAMS))
index = np.arange(TEAMS)
tasks_times[index, spec[index]] /= 2

In [58]:
tasks_times

array([[0.98338181, 0.48934748, 0.98704524, 1.16151432, 0.18455163,
        1.09611729, 1.35485141, 0.17497185, 0.66649075, 0.33033979,
        0.72616089, 1.12636691, 0.14135518, 0.56427684, 1.2083481 ,
        1.16384434, 0.03011083, 1.02797475, 0.35076058, 0.33365838],
       [0.51135854, 0.50892137, 1.02652705, 1.20797489, 0.09596685,
        1.13996198, 1.40904547, 0.18197073, 0.69315038, 0.34355338,
        0.75520732, 1.17142159, 0.29401877, 0.58684791, 1.25668202,
        1.21039811, 0.03131526, 1.06909374, 0.36479101, 0.34700471],
       [1.16217851, 0.57831974, 0.58325401, 1.37269874, 0.10905324,
        0.64770567, 1.60118803, 0.41356984, 1.57534177, 0.78080313,
        0.85819014, 1.3311609 , 0.33411224, 0.66687262, 1.42804775,
        0.6877262 , 0.03558553, 1.21487925, 0.41453523, 0.39432354],
       [0.63919818, 0.63615172, 1.28315881, 1.50996861, 0.11995856,
        1.42495247, 1.76130684, 0.45492682, 1.73287595, 0.85888345,
        0.94400915, 1.46427699, 0.36752347, 0.73355989, 0.78542626,
        1.51299764, 0.03914408, 0.66818359, 0.45598876, 0.43375589],
       [0.63919818, 0.63615172, 1.28315881, 1.50996861, 0.11995856,
        1.42495247, 1.76130684, 0.45492682, 1.73287595, 0.85888345,
        0.94400915, 1.46427699, 0.18376173, 0.73355989, 0.78542626,
        1.51299764, 0.03914408, 1.33636717, 0.22799438, 0.43375589]])

In [59]:
tasks_times.sum(axis=1)

array([14.10146836, 14.20521109, 16.18954608, 17.82624712, 18.0826746 ])

In [60]:
teams_costs_ = np.array([1000, 900, 700, 600, 550])
teams_costs = np.zeros((TEAMS, DAYS * SHIFTS + 1))

for i in range(TEAMS):
    teams_costs[i, :] = teams_costs_[i]
    
teams_costs[:, -1] *= 2

In [61]:
tasks_costs_ = 10 * np.arange(DAYS * SHIFTS + 1)

tasks_costs = np.tile(tasks_costs_, (TASKS, 1))

In [62]:
with open('Oldenburg.tasks', 'w') as task_file:
    
    task_file.write(f'{DAYS}\n{SHIFTS}\n{TEAMS}\n{locs[0]}\n')
    
    task_file.write(' '.join(map(str, locs[1:])))
    task_file.write('\n')
    
    for i in range(TEAMS):
        task_file.write(' '.join(map(str, tasks_times[i, :])))
        task_file.write('\n')
        
    for i in range(TEAMS):
        task_file.write(' '.join(map(str, teams_costs[i, :])))
        task_file.write('\n')
        
    for i in range(TASKS):
        task_file.write(' '.join(map(str, tasks_costs[i, :])))
        task_file.write('\n')

In [29]:
tasks_times.shape

(5, 20)